{% extends 'base.html.twig' %}

{% block title %}Mini Instagram
{% endblock %}

{% block body %}
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
		<div
			class="container">
			<!-- Navbar brand -->
			<a class="navbar-brand grey-text" href="/">Mini Instagram</a>
			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
	<!--Mask-->
	<!--Mask-->
	<div id="intro" class="view">
		<div class="mask rgba-black-strong">
			<div class="container-fluid d-flex align-items-center justify-content-center h-100">
				<div class="row d-flex justify-content-center text-center">
					<div
						class="col-md-10">
						<!-- Heading -->
						<h2 class="display-4 font-weight-bold cyan-text pt-5 mb-2">Mini Instagram</h2>
						<!-- Divider -->
						<hr
						class="hr-light">
						<!-- Description -->
						<h4 class="grey-text my-4">Comparte tus fotos, has que el mundo los vea, así podrás hacer que tus momentos sean de todos
						</h4>
						<button type="button" class="btn btn-outline-grey" href="/registro">Ingresar <i class="far fa-user"></i>
						</button>
                        <button type="button" class="btn btn-outline-grey">Registrarse <i class="far fa-user"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.Navbar-->
{% endblock %}
